<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>games</title>
</head>
<body>
    <h1>Suggest A New Game For Me To Check Out</h1>
    <form action="/games" method="POST">
        Name: <input type="text" name="name" />
        <br>
        developer: <input type="text" name="color" />
        <br>
        Year: <input type="text" name="year" />
        <br>
        Have I played: <input type="checkbox" name= "iPlayed" />
        <br>
        <input type="submit" value="Submit Suggestion">
    </form>
</body>
</html>
